@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_Home{
    width: 100vw;
    height: 100vh;
    font-family: 'DynaPuff', cursive !important;
    background-color: #06063b;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_Home{
    margin-top: -50px;
}

.heading_Home{
    color: #00ffff;
    margin-bottom: 15px; 
}

.btn1{
    color: #00ffff !important;
    border-color: #00ffff !important;
    font-weight: 500;
}

.btn1:hover{
    color: rgb(6, 6, 59) !important;
    border-color: rgb(122, 124, 241) !important;
    background-color: #00ffff !important;
}


/* Animated Button text  */
.back span {
    display: table-cell;
    font-size: 20px;
    padding: 5px 1px;
    animation:jumb 2s infinite;
    -webkit-animation:jumb 2s infinite;
}
  @keyframes jumb {
    0% {
      transform:translateY(3px)    ;
      -webkit-transform:translateY(3px)    ;
      -moz-transform:translateY(3px)    ;
      -ms-transform:translateY(3px)    ;
      -o-transform:translateY(3px)    ;
}
    50% {
      transform:translateY(-4px);
      -webkit-transform:translateY(-4px);
      -moz-transform:translateY(-4px);
      -ms-transform:translateY(-4px);
      -o-transform:translateY(-4px);
}
    100% {
      transform:translateY(3px)     ;
      -webkit-transform:translateY(3px)     ;
      -moz-transform:translateY(3px)     ;
      -ms-transform:translateY(3px)     ;
      -o-transform:translateY(3px)     ;
}
  }

  .back span:nth-child(1) {
    animation-delay:0s;
  }
  .back span:nth-child(2) {
    animation-delay:.1s;  
  }
  .back span:nth-child(3) {
    animation-delay:.2s;
  }
  .back span:nth-child(4) {
    animation-delay:.3s;  
  }
  .back span:nth-child(5) {
    animation-delay:.4s;
  }
  .back span:nth-child(6) {
    animation-delay:.5s;  
  }
  .back span:nth-child(7) {
    animation-delay:.6s;
  }
  .back span:nth-child(8) {
    animation-delay:.7s;
  }
  .back span:nth-child(9) {
    animation-delay:.8s;
  }
  .back span:nth-child(10) {
    animation-delay:.8s;
  }
  .back span:nth-child(11) {
    animation-delay:1s;
  }